################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/boost_1_60_0
